@import 'variables';

#recent-sidebar {
    .card.recent-meme {
        margin-bottom: 1rem;
        .card-img-top {
            max-height: 100px;
            overflow: hidden;
        }
        .card-body {
            padding: 0.45rem;
            .recent-meme-title {
                display: block;
            }
            .recent-meme-meta {
                img {
                    width: 20px;
                }
            }
        }
    }
}

#trending-sidebar {
    .card.trending-meme {
        margin-bottom: 1rem;
        .card-img-top {
            max-height: 100px;
            overflow: hidden;
        }
        .card-body {
            padding: 0.45rem;
            .trending-meme-title {
                display: block;
            }
            .trending-meme-meta {
                img {
                    width: 20px;
                }
            }
        }
    }
}
