/* Style Sheet for LolWhoa by Ali created on 1/2/2020 */
/*Background colors for body, navbar & buttons*/
.bg-black {
    background: var(--black) !important;
}

.main-theme-color {
    background:  var(--black) !important;
  /* border-color: #414141 !important; */
}

.clr-wht {
    color:  var(--font-clr) !important;
}

.navbar-black{
    background: var(--navbar-clr) !important;
}

.butn-color-black{
	background: var(--btn-clr) !important;
}

/*Buttons & form */
.butn {
  display: inline-block;
  font-weight: 400;
  /*color: #212529;*/
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  /*padding: 0.375rem 0.75rem;*/
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.625rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.auth-butn {
    min-width: 10%;
    height: 30px;
}

.navbar-toggler-butn {
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1;
  background-color: #464646;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-search {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  border: 1px solid #464646;
  border-radius: 0.625rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-search {
  width: 100%;
  padding: 0rem 0.75rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.6;
  border: 1px solid #464646;
  border-radius: 1.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-search-height {
    min-width: 100% !important;
    height: 25px !important;
}

.image-meme-upload>input {
  display: none;
}

.files label {
   text-align: center;
    width: 100% !important;
}

/* Paddings */
.pad-2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.navbar-pad{
	padding: 0.4375rem 1rem;
}

.pad-left-0{
	padding-left: 0;
}

.pad-right-0{
	padding-right: 0;
}

/* Allignment */
.center-block {
  float:none;
}

.in-middle{
  top: 50%;
  transform: translateY(-50%);
}

/* Icons */
.marg-35{
  padding: 20px;
  margin: 25px 2px;
}

.marg-30{
  margin-top: 30px;
}

.marg-60{
  margin-top: 60px;
}

@media screen and (max-width: 600px){
    
.marg-35 {
  padding: 20px;
  margin: 0px 2px;
}
.marg-60{
  margin-top: 30px;
}
}

/* Input Field*/
.input-file-field{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	display: none;
}

/* Image - - - inline code 
.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.img-centered {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

*/

/* Input range slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #fff;
  outline: none;
  border-radius : 20px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
	background:
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius : 1000px;
  background: #3490dd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #000;
  cursor: pointer;
}



/* Fonts */

.font-13 {
    font-size: 13px !important;
}

.nav-link:hover{
	background: #464646;
}

body.dark{
  background:#fff;
}

body.dark .bg-black{
  background:#fff;
}


/* theme change toggle btn */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 14px;
  position: relative;
  width: 25px;
}

.theme-switch input {
  display:none;
}

.tb {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.tb:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 8px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 8px;
}

input:checked + .tb {
  background-color: #000;
}

input:checked + .tb:before {
  transform: translateX(12px);
}

.tb.round {
  border-radius: 34px;
}

.tb.round:before {
  border-radius: 50%;
}

/*Card View Image */
.trend-img-fluid {
    max-width: 220px;
    height: 220px;
}