/* Remove unnecessary margins/padding */
html, body {
    margin: 0;
    padding: 0
}

.wrapper {
    display: grid;
    /* Header and footer span the entire width, sidebars and content are fixed, with empty space on sides */
    grid-template-areas: "header header header header header" "empty_left sidebar_1 content sidebar_2 empty_right" "footer footer footer footer footer";
    /* Only expand middle section vertically (content and sidebars) */
    grid-template-rows: 0fr 1fr 0fr;
    /* 100% width, but static widths for content and sidebars */
    grid-template-columns: 1fr 100px 400px 100px 1fr;
    /* Force grid to be at least the height of the screen */
    min-height: 100vh;
}

.header {
    grid-area: header !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

.m-b-0 {
    margin-bottom: -1rem !important;
}

.m-150 {
    margin: 150px;
}
.p-12{
    padding:12px !important;
}
.margin-10{
    margin: 10px !important;
 }
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #464646;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top:hover {
    background: #252525;
}

#back-to-top.show {
    opacity: 1;
}

.setting-msg {
    color: white;
    background-color: #545454;
    border-color: #545454;
    border-radius: 50px !important;
}

.icon-color {
    color: gray;
}

.icon-size {
    font-size: 15px !important;
}

.facebook {
    color: #3D5B8A;
}

.twitter {
    color: #26A0E8;
}

.linkedin {
    color: #0077B5;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-l-60 {
    margin-left: 60px !important;
}

.m-l-85 {
    margin-left: 85px !important;
}

.m-l-55 {
    margin-left: 55px;
}

.m-l--10 {
    margin-left: -10px !important;
}

.clr-green {
    color: #8AB570 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-30 {
    margin: 30px !important;
}
.m-2{
    margin: 2% !important;
}

.m-70 {
    margin: 70px !important;
}

.navbar-color {
    color: #DAD0D0 !important;
}

.navbar-bg, .profile-menu {
    background: #545454 !important;
    border-color: #545454 !important;
}

.hr-bg {
    background-color: #FFFFFF !important;
}

.h1-font {
    font-size: 1.25rem !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.sidebar-font, .font-11 {
    font-size: 11px !important;
}

.font-25 {
    font-size: 25px !important;
}

.font-12 {
    font-size: 12px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.ht-50 {
    height: 50px !important;
}

.ht-75 {
    height: 75px !important;
}

.text-center {
    text-align: center !important;
}

.btn-login {
    background: #749F5A !important;
    border-color: #749F5A !important;
}

.icon-size-35 {
    font-size: 35px !important;
}

.fb-social {
    background: #3D5B8A !important;
    border: #3D5B8A !important;
}

.twitter-social {
    background: #26A0E8 !important;
}

.form-height {
    height: 500px !important;
}

.form-height-register {
    height: 570px !important;
}

.btn-width {
    width: 100px !important;
}

.meme-detail {
    margin: 15px !important;
    border-color: #545454 !important;
    border: none;
}

.next-post {
    background-color: #312d2d !important;
    border-color: #312d2d !important;
    float: right;
    height: 33px !important;
    width: 100px !important;
}

.next {
    background-color: #545454 !important;
    border-color: #545454 !important;
    float: right;
    height: 33px !important;
    width: 100px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.textarea {
    width: 88% !important;
    border-radius: 5px !important;
    border: 1px solid lightgrey;
    margin-left: 80px;
    margin-top: -60px;
}

.btn-submit {
    float: right;
}

.m-15 {
    margin: 15px !important;
}

.border-radius-0 {
    border-radius: 0px !important;
}

.upload-meme {
    height: 130px !important;
    margin-bottom: 40px !important;
    background: #414141 !important;
    border-color: #625d5d !important;
}

.mn-w-40 {
    min-width: 40%;
}

.w-37 {
    width: 37% !important;
}

.font-15 {
    font-size: 15px;
}

.w-30 {
    width: 30px !important;
}

.upload-img-modal {
    margin-left: 70px !important;
    margin-top: 25px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.text-red {
    color: red !important;
}

.mx-w-50 {
    max-width: 50% !important;
}

.b-r-5 {
    border-radius: 5px !important;
}

.mx-w-25 {
    max-width: 25% !important;
}

.border-0 {
    border: 0px !important;
}

.meme-heading {
    letter-spacing: -1px !important;
    font-weight: initial;
    font-size: 18px !important;
}

.font-30 {
    font-size: 30px !important;
}

.min-width-100 {
    min-width: 100% !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.notification {
    color: #F0E4E454 !important;
}

.share {
    background-color: #3c3a3a !important;
    border-color: #3c3a3a !important;
}

.share-menu:hover {
    background: #201b1b !important;
}

.img-profile {
    width: 50px !important;
    border-radius: 50% !important;
}

.img-notify {

}

.width-15 {
    width: 15% !important;
}

.width-10 {
    max-width: 10% !important;
}

.nav-item.active {
    background-color: #545454 !important;
    border-color: #545454 !important;
}

.comment-img {
    max-width: 10% !important;
}

.font-inherit {
    font-weight: inherit !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.notify-date {
    margin-left: 45px;
}

.notify {
    background: rgba(234, 224, 224, 0.54) !important;
}

.actor {
    font-weight: 700 !important;
}

.notify-post {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0px !important;
}

.display-comment {
    margin-top: -50px !important;
    margin-left: 60px !important;
}

.m-t--25 {
    margin-top: -25px !important;
}

.unseen-notify {
    background: #acacac5c !important;
    margin-top: -16px !important;
    padding-left: 5px !important;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.w-20 {
    width: 20% !important;
}

.voted {
    background: #cbb6b64d !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t--35 {
    margin-top: -35px !important;
}

.rply-Cmnt {
    margin-left: 60px;
    margin-top: -55px
}

.parent-Cmnt {
    margin-left: 115px;
    margin-top: -54px
}

.m-t-15 {
    margin-top: 15px;
}

.mn-w-50 {
    min-width: 50% !important;
}

.mn-w-100 {
    min-width: 100% !important;
}

.m-t--10 {
    margin-top: -10px;
}

.character-count {
    margin-left: 80px;
}

.error-404 {
    margin: 0 auto;
    text-align: center;
}

.error-404 {
    margin: 0 auto;
    text-align: center;
}

.error-404 .error-code {
    bottom: 60%;
    color: #DAD0D0;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
}

.error-404 .error-desc {
    font-size: 12px;
    color: #fff;
}

.error-404 .m-b-10 {
    margin-bottom: 10px !important;
}

.error-404 .m-b-20 {
    margin-bottom: 20px !important;
}

.error-404 .m-t-20 {
    margin-top: 20px !important;
}

.go-back-btn {
    color: #fff !important;
    background-color: #545454 !important;
    border-color: #545454 !important;
}

.m-l--8 {
    margin-left: -8px;
}

@keyframes page-load {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.page-loading::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 10;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #545454;
    animation: page-load ease-out 2s;
}

.postAMeme {
    min-width: auto;
    height: 30px;
}

.files input {
    outline: 3px dashed #545454;
    outline-offset: -2px;
    -webkit-transition: outline-offset .15s ease-in-out;
    transition: outline-offset .15s ease-in-out;
    padding: 60px 40px 80px 40%;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #545454;
    outline-offset: -10px;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
  /*  background-image: url(https://static.thenounproject.com/png/212328-200.png); */
    margin: 0 auto;
    background-size: 100%;
    color: #fff !important;
}

.color input {
    background-color: #545454;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: "";
    display: block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.logo {
    width: 110px !important;
    border-radius: 0px !important;
}

.auth-btn {
    min-width: 10%;
    height: 40px;
}
.m-r-5{
    margin-right: 5px;
}

.search {
    min-width: 100% !important;
    height: 30px !important;
}
.cmnt-img{
    border-radius: 10px !important;
    width: 60px !important;
}

@media screen and (max-width: 600px) {
    .mb-search {
        max-width: 100% !important;
    }

    .mb-login-btn {
        min-width: 42%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .mb-register-btn {
        min-width: 42%;
        margin-left: 15px;
        margin-top: 15px;
    }

    #mb-login-twitter {
        float: none !important;
        padding-right: 27px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    .mb-text-center {
        text-align: center;
    }

    #mb-login-facebook {
        margin: 0px !important;
        float: none !important;
        width: 100% !important;
    }

    .form-height {
        height: 530px !important;
    }

    .form-height-register {
        height: 610px !important;
    }

    .profile-menu {
        width: 45% !important;
    }

    .navbar-nav {
        margin-left: 15px;
        margin-right: 20px;
    }

    .postAMeme {
        width: auto !important;
    }

    .upload-meme {
        width: 32% !important;
        height: 100px !important;
    }

    .upload-img-modal {
        margin-left: 40px !important;
        margin-top: 8px !important;
    }

    .mb-font {
        font-size: 12px !important;
    }

    .mb-w {
        max-width: 30%;
    }

    .mb-recent, .mb-trending {
        display: none !important;
    }

    .mb-w-20 {
        width: 24% !important;
    }

    .mb-category {
        background: #414141 !important;
        border-radius: 20px !important;
        margin-top: 5px !important;
    }

    .mb-cat {
        margin-right: 10px;
    }

    .mb-cat-img {
        max-width: 25% !important;
    }
    .mb-margin{
        margin-right: 5px;
    }
    .cmnt-img{
        border-radius: 5px !important;
        width: 40px !important;
    }
    .textarea{
        width: 80% !important;
        border-radius: 5px !important;
        margin-left: 50px !important;
        margin-top: -40px !important;
    }
    .character-count{
        margin-left: 50px !important;
    }
    .rply-Cmnt{
        margin-left: 60px !important;
        margin-top: -55px !important;
    }
    .mb-replies
    {
        margin-top: 50px !important;
    }

}
@media screen and (min-width: 331px) {
    .mb-category {
        margin-right: -16px !important;
    }
    .mb-margin{
        margin-right: 3px;
    }

    /*.mb-comment-avatar{*/
        /*width: 50px !important;*/
    /*}*/
    /*.mb-comment-textarea{*/
        /*width: 74% !important;*/
        /*margin-left: 65px !important;*/
        /*margin-top: -48px !important;*/
    /*}*/
    /*.character-count{*/
        /*margin-left: 62px !important;*/
    /*}*/
    /*.mb-rply{*/
        /*margin-top: -53px !important;*/
    /*}*/
    /*.mb-replies{*/
        /*margin-top: 65px !important;*/
    /*}*/


}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -30px;
    top: -26px;
    color: #fff;
    cursor:pointer;
    width: 0;
    float: right;
}
.SearchAutoComplete{
    position: absolute;
    background: #545454;
    margin-top: 10px;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
